.navbar-brand,
.navbar-nav li a {

    line-height: 40px;
    height:40px;
    padding-top: 0;
}
.logo {
  width:80px;
  height:60px;
  margin-top:-12px;
}
body{
  background:#d9eee659;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
section{
  padding:2rem 5%;
}
.btn{
  cursor: pointer;
}
.btn::before{
  content: '';
  top:0; right: 0;
  width:0%;
  height:100%;
  background:#26062c;
  transition: .3s linear;
  z-index: -1;
}
.btn:hover::before{
  width:100%;
  left: 0;
}

.btn:hover{
  color:rgb(1, 209, 88);
}
.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 50vh;
  align-items:  flex-start;;
  background:url(../resources/Vector\ 1fondo1seccion.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content{
  flex:1 1 50rem;
  padding-top: 5.5rem;

}
.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}
@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(2rem);
  }
}
.home .content h3{
  font-size: 4rem;
  color:#333;

}

.home .content p{
  width: 400px;
  height: 56px;
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}
.container{
  display: flex;
  justify-content: space-around;
}
section h1{
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* 

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../resources/Vector\ 1fondo1seccion.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:100%;
  padding:1rem;
  animation:float 3s linear infinite;
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
} */

/* h1{
    
    padding: 2%;
    
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 32px;
    text-align: center;
}
h2{
    
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
p{
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-self: stretch;
}
.caja{
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 167, 165);
    width: 370px;
    height: 475px;
    border: 1px solid #EBEBEC;
    border-radius: 24px;
}

.footer-clean {
  padding: 0px;
  background-color:#fff;
  color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
} */

/* .footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
} */

/* .footer-clean .item.social > a:hover {
  opacity:0.9;
} */

/* @media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
} */

/* .footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
} */
